body {
    margin: 0;
    pading: 0;
  background: linear-gradient(135deg, #0a0a0a, #0d1f0d, #00ff88);
  color: #e0ffe0
 
}

.allcard{

 display: flex;
  justify-content: center;  /* وسط أفقي */
  align-items: center; 
   flex-wrap: wrap;
   flex-direction:row;
}
.card {
    border: #00ff88 7px solid;
    background-color: #e0ffe0;
    border-radius: 10px;
    margin: 20px;
display: flex;
max-width: 240px;
height:max-content;
justify-content:center;
  align-items: center; 
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}

.titele{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
 
}
.allcard a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.allcard a h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border:  5px #0d1f0d solid;
  border-radius: 30px;
    background-color:#0d1f0d;
    color: #00cc44;
}
.card:hover{
    box-shadow: 5px 5px 5px 10px #00cc44,
    -5px -5px 5px 10px #00cc44 ;
  background-color: #60df8a ;
    transition: 500ms;
    transform: scale(1.05);

}
h1{
font-family: 'Begika', sans-serif;
font-size: clamp(2.5rem, 10vw, 4rem);
}
