<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../image/error.png">
    <link rel="stylesheet" href="../style/styleerror.css">
    <title>PAGE ERROR</title>
</head>
<body>
    <h1>ERROR</h1>
   
   
    <div class="code">{{.Code}}</div> 
    <div class="messege">{{.Messege}}</div>
    <br>
    <span><a href="http://localhost:8080">Back To Home</a></span>
    
</body>
</html>