<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.cdnfonts.com/css/begika" rel="stylesheet">
    <title>groupie-tracker</title>
          <link rel="icon" href="https://cdn.pixabay.com/photo/2017/05/17/15/20/kids-2321161_1280.png"  type="image/x-icon">
</head>

<body >
    <div class="titele">
        <h1>groupie-tracker</h1>
    </div>
    <div class="allcard">
        {{range .}}
        <a href="/artist?id={{.ID}}" > 
            <div class="card">
                <img src="{{.Image}}" loading="lazy">
                <h2>{{.Name}}</h2>
            </div>
        </a>
        {{end}}
    </div>
</body>

</html>