<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleerror.css">
    <link rel="icon" href="https://cdn.pixabay.com/photo/2017/05/17/15/20/kids-2321161_1280.png"  type="image/x-icon">
    <title>PAGE ERROR</title>
</head>
<body>
    <h1>ERROR</h1>
    <div class="code">{{.Status}}</div> 
    <div class="messege">{{.Mesege}}</div>
    <br>
    <span><a href="/">Back To Home</a></span>
</body>
</html>