<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styleartist.css">
    <link rel="icon" href="https://cdn.pixabay.com/photo/2017/05/17/15/20/kids-2321161_1280.png"  type="image/x-icon">
    <title>GROUPIE-TRACKER</title>

</head>

<body>
<div class="All">


    <div class="img"><img src="{{.Artist.Image}}"></div>
    <hr>
    <div class="info">
        <H1 class="titre">LES INFORMATION DE L'ARTIST</H1>
      
            <p class="font">ID: {{.Artist.ID}}</p>
            <p class="font">NAME: {{.Artist.Name}}</p>
            <p class="font">CREATIONDATE: {{.Artist.CreationDate}}</p>
            <p class="font">FIRST ALBUME: {{.Artist.FirstAlbum}}</p>
        </ul>
        <h3 class="members">MEMBERS: </h3>
       
            {{range .Artist.Members}}
            <p class="font">🌿{{.}}</p>
            {{end}}
      
    </div>
    <hr>
    <div class="location">
        <H2 class="titre">LOCATION</H2>

      
            {{range .Location.Location}}
           <p class="font">{{.}}</p> 
            {{end}}
       
    </div>
    <hr>
    <div class="date">
        <h2 class="titre">CONSERTDATES</h2>

        
            {{range .Date.Dates}}
            <p class="font">{{.}}</p>
            {{end}}
        
    </div>
    <hr>
    <div class="relation">
        <h2 class="titre">RELATION:</h2>
        <div class="relations">
            {{ range $key, $value := .Relation.Daterelation }}
            <details>
                <summary class="font">✳️ {{ $key }}</summary>
                {{ range $value }}
                <p>📅 {{.}}</p>
                {{ end }}
            </details>
            {{ end }}
        </div>
    </div>
    
    <span><a href="http://localhost:8080">Back To Home</a></span>
    </div>
</body>

</html>